[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
datashader = "*"
pandas = "*"
numba = "*"
pyyaml = "*"
matplotlib = "*"
scikit-image = "*"
colorspacious = "*"
pdoc3 = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.8"
